@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var currentObservationFetch = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherThis.Common.Models.CurrentObservationModel>
        (WeatherThis.Common.Models.LocalValuesModel.CurrentObservation);
    var sevenDayForecastMetricFetch = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherThis.Common.Models.SevenDayForecastModel>
        (WeatherThis.Common.Models.LocalValuesModel.SevenDayForecast);
    var sevenDayForecastImperialFetch = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherThis.Common.Models.SevenDayForecastModel>
        (WeatherThis.Common.Models.LocalValuesModel.SevenDayForecastImperial);
    var sevenDayForecastHourlyFetch = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherThis.Common.Models.SevenDayForecastHourlyModel>
        (WeatherThis.Common.Models.LocalValuesModel.SevenDayForecastHourly);
    var sevenDayForecastHistoryFetch = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherThis.Common.Models.SevenDayHistoryHourlyModel>
        (WeatherThis.Common.Models.LocalValuesModel.CurrentObservation);

    List<SevenDayForecastPeriods> sdf;
    string unitSystem, unitSystemButtonValue;

    if (LocalValuesModel.IsImperial)
    {
        sdf = sevenDayForecastImperialFetch.Properties.Periods;
        unitSystemButtonValue = "Switch to Metric";
        unitSystem = "Imperial";
    }
    else
    {
        sdf = sevenDayForecastMetricFetch.Properties.Periods;
        unitSystemButtonValue = "Switch to Imperial";
        unitSystem = "Metric";
    }
}



<div>
    <h1 class="display-4">Weather This</h1>
    <div class="container-fluid row">
        <div class="col-sm-6">
            Reporting from: @WeatherThis.Common.Models.LocalValuesModel.City, @WeatherThis.Common.Models.LocalValuesModel.State
            <!--Zipcode Modal Button-->
        </div>
        <div class="col-sm-6" style="display: flex; flex-wrap: wrap; justify-self:right">
            System of Units: @unitSystem @using (Html.BeginForm("ButtonClick", "Home"))
            {<input type="submit" class="btn btn-primary btn-sm" value="@unitSystemButtonValue" />}
        </div>
    </div>

    

    @{
        var current = currentObservationFetch.Features[0].Properties;

        var temp = Math.Round(Convert.ToDecimal(WeatherThis.Common.Controllers.UnitConverterController.ConvertCelsiusToFahrenheit(current.Temperature.Value)));
        var dew = Math.Round(Convert.ToDecimal(WeatherThis.Common.Controllers.UnitConverterController.ConvertCelsiusToFahrenheit(current.Dewpoint.Value)));
        var wind = Math.Round(Convert.ToDecimal(WeatherThis.Common.Controllers.UnitConverterController.ConvertKilometerToMile(current.WindSpeed.Value)));
        var windDir = WeatherThis.Common.Controllers.UnitConverterController.ConvertDegreeToDirection(current.WindDirection.Value);
        var humidity = Math.Round(Convert.ToDecimal(current.RelativeHumidity.Value));
    }

    <p>Current Temperature: @temp@LocalValuesModel.TempEnd</p>
    <p>Current Dewpoint: @dew@LocalValuesModel.TempEnd</p>
    <p>Current Wind Speed: @wind@LocalValuesModel.SpeedEnd</p>
    <p>Current Wind Direction: @windDir</p>
    <p>Current Humidity: @humidity%</p>



    <!--Alert Data-->


    <h2>Six Day Forecast</h2>

    @{
        var secondloop = 0;
        for (var row = 0; row < 2; row++)
        {
            <div class="container-fluid row">

                @for (var i = 0; i < 6; i++)
                {
                    <div class="col-md-2 text-center weather-block">
                        <strong>@sdf[i + secondloop].Name</strong><br />
                        <img src="@sdf[i + secondloop].Icon" class="weather-img" title="@sdf[i + secondloop].Name - @sdf[i].DetailedForecast" alt="@sdf[i + secondloop].Name - @sdf[i].DetailedForecast" /><br />
                        @sdf[i + secondloop].ShortForecast<br />
                        @sdf[i + secondloop].Temperature°@sdf[i + secondloop].TemperatureUnit<br />
                        WND: @sdf[i + secondloop].WindDirection @sdf[i + secondloop].WindSpeed

                    </div>
                }

                @{secondloop = 6; }
            </div>
        }
    }




    <h2>Seven Day Forecast</h2>
    <ul>
        @{
            for (var i = 0; i < sdf.Count; i++)
            {
                <li><strong>@sdf[i].Name</strong> - @sdf[i].DetailedForecast</li>
            }
        }
    </ul>

</div>
